/* You can add global styles to this file, and also import other style files */
$title-color: #DA5F17;
$text-color: #BEBEBE;
$icon-color: #84628F;
$bg-color: #242424;

body {
	color: $text-color;
	background-color: $bg-color;
	padding: 0px 10px;
}