<h1>Fighter</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non semper est. Maecenas nisi metus, aliquet vel est non, vehicula congue arcu. Suspendisse eu libero ex. Ut varius sodales erat quis eleifend. In dictum quam nec magna dignissim, sed egestas arcu dapibus. Suspendisse mollis vulputate maximus. Ut ac augue convallis, pellentesque lectus vel, cursus odio. Nullam urna lorem, feugiat quis suscipit ac, interdum vel velit. Duis viverra sapien sem, vitae venenatis arcu fermentum sit amet. Aenean eget consequat tortor, aliquam facilisis leo. Curabitur sit amet justo vitae purus pellentesque fermentum sit amet venenatis nulla. Pellentesque sed elit ligula. Aliquam ut iaculis neque. </p>

<button mat-flat-button (click)="newGame()" class="primary-btn">Créer une partie</button>
<button mat-flat-button (click)="joinGame()" class="accent-btn">Rejoindre une partie</button>