<form
	[formGroup]="registerForm"
	(ngSubmit)="onSubmit()"
	novalidate
>

	<div>
		<label for="username">Nom d'utilisateur</label>
		<input 
			type="text"
			name="username"
			formControlName="username"
			autofocus
			required
		/>
		<div *ngIf="isSubmitted && formControls.username.errors">
			Le nom d'utilisateur est requis.
		</div>
	</div>

	<div>
		<label for="email">Email</label>
		<input 
			type="email"
			name="email"
			formControlName="email"
			required
		/>
		<div *ngIf="isSubmitted && formControls.email.errors">
			L'email est requis.
		</div>
	</div>

	<div>
		<label for="password">Mot de passe</label>
		<input 
			type="password" 
      name="password" 
      formControlName="password"
      required
		/>
		<div *ngIf="isSubmitted && formControls.password.errors">
      Le mot de passe est requis.
    </div>
	</div>

	<div>
		<label for="confirm-password">Confirmation du mot de passe</label>
		<input 
			type="password" 
      name="confirm-password" 
      formControlName="confirmPassword"
      required
		/>
		<div *ngIf="isSubmitted && (formControls.confirmPassword.errors || registerForm.hasError('notSame'))">
      Le mot de passe et la confirmation ne correspondent pas.
    </div>
	</div>

	<button type="submit">S'enregistrer</button>

	<div *ngIf="errorMessage">
		Connexion impossible: {{ errorMessage }}
	</div>

</form>