<header>
	<h1>{{ title }}</h1>
	
	<nav>

		<a mat-flat-button 
			routerLink="/" 
			class="nav-link">
			Accueil
		</a>

		<a mat-flat-button 
			routerLink="/users" 
			*ngIf="isLoggedIn" 
			class="nav-link">
			Liste des utilisateurs
		</a>

		<a mat-flat-button 
			routerLink="/profile" 
			*ngIf="isLoggedIn"
			class="nav-link">
			Mon profil
		</a>

		<button mat-flat-button 
			(click)="logout()" 
			*ngIf="isLoggedIn"
			class="nav-link">
			Se déconnecter
		</button>

		<a mat-flat-button 
			routerLink="/login" 
			*ngIf="!isLoggedIn"
			class="nav-link">
			Se connecter
		</a>

		<a mat-flat-button 
			routerLink="/register" 
			*ngIf="!isLoggedIn"
			class="nav-link">
			S'enregistrer
		</a>
		
	</nav>

</header>

<main>
	<router-outlet></router-outlet>
</main>